@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*--color-primary: 255 115 179;
    --color-secondary: 111 114 185;*/
  }
}

@layer components {
  .card {
    background-color: theme('colors.primary');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
